/* .container {
  width: 100%;
  background-color: aquamarine;
} */

/* .content {
  background-color: aqua;
  width: 70%;
  margin: 0 auto;
} */

html {
  touch-action: manipulation;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0;
}


.game-disp {
  background-color: lawngreen;
  width: 90%;
  height: 69vh;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  
}

canvas {
  
}

.btn-area {
  /* background-color: lavender; */
  width: 80%;
  height: 180px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-left {
  /* background-color: khaki; */
  width: 170px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.move-btn1 {
  background-color: brown;
  width: 70px;
  height: 70px;
  text-align: center;
}

p {
  color: orange;
  font-size: 20px;
  margin: 0;
  line-height: 70px;
}

.move-btn2 {
  background-color: brown;
  width: 70px;
  height: 70px;
  text-align: center;
}

.btn-right {
  /* background-color: khaki; */
  width: 170px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-btn {
  background-color: brown;
  width: 70px;
  height: 70px;
  text-align: center;
}

.b-btn {
  background-color: brown;
  width: 70px;
  height: 70px;
  text-align: center;
}


